@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  /* body 폰트는 layout.tsx 에서 직접 적용 */
  /* h1, h2, ... 폰트는 각 컴포넌트에서 직접 적용 */
  a {
    @apply text-blue-600 hover:text-blue-700 transition-colors duration-200;
  }
}
